
.buttons {
  margin-bottom: 15px;
}

tbody + tbody.entry {
  border-top-style: none;
}

.table > tbody.entry > tr > td {
  border-top-style: none;
  border-bottom-style: none;
}

.shaded {
  background-color: #f8f8f8;
}

.warning {
  color: #b43454;
}

pre.traceback {
  border: none;
  background-color: inherit;
}
