{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}ET run reports{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'ET/css/monitor.css' %}?via=html">
{% endblock %}

{% block content %}
  <div class="container-fluid">

    {% if links %}
      <div class="buttons">
        {% for link in links %}
          <a class="btn btn-default" href="{% url 'ET:monitor' %}{{ link.query }}">{{ link.text }}</a>
        {% endfor %}
      </div>
    {% endif %}

    <section class="panel">
      <div class="panel-heading">
        <h4>Events
          <small>
            {% if events.has_other_pages %}
              {{ events.start_index }} to {{ events.end_index }}
            {% endif %}
          </small>
        </h4>
      </div>
      <table id="events" class="panel-body table table-bordered table-condensed table-hover">
        <thead>
          <tr class="names">
            <td>ip / time ({{ timezone }})</td>
            <td>type</td>
            <td>project</td>
            <td>script</td>
            <td>version</td>
            <td>platform</td>
            <td>test</td>
            <td>run_id</td>
          </tr>
        </thead>
        {% for event in events %}
          <tbody class="entry {% cycle 'unshaded' 'shaded' %}">
            <tr class="values">
              <td rowspan=0>
                <p><a href="{% url 'traffic:view_ip' event.visit.visitor.ip %}">{{ event.visit.visitor.ip }}</a></p>
                <p>{{ event.visit.timestamp | date:"M j Y, g:i:s A" }}</p>
              </td>
              <td>{{ event.type }}</td>
              <td>{{ event.project }}</td>
              <td>{{ event.script }}</td>
              <td>{{ event.version }}</td>
              <td>{{ event.platform }}</td>
              <td>{{ event.test }}</td>
              <td>{{ event.run_id }}</td>
            </tr>
            {% if event.run_data %}
              <tr>
                <td colspan="7"><code>{{ event.run_data }}</code></td>
              </tr>
            {% endif %}
          </tbody>
        {% endfor %}
      </table>
    </section>

    {% if links %}
      <div class="buttons">
        {% for link in links %}
          <a class="btn btn-default" href="{% url 'ET:monitor' %}{{ link.query }}">{{ link.text }}</a>
        {% endfor %}
      </div>
    {% endif %}

  </div>
{% endblock content %}
