{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}ET runs{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'ET/css/monitor.css' %}?via=html">
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="buttons">
      {% if prev %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}?p={{ prev }}">&lt; Earlier</a>
      {% endif %}
      {% if show_tests %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}">Hide tests</a>
      {% else %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}?show=tests">Show tests</a>
      {% endif %}
      {% if next %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}?p={{ next }}">Later &gt;</a>
      {% endif %}
    </div>

    <section class="panel">
      <div class="panel-heading">
        <h4>Runs
          <small>
            {% if end %}
              {{ start }} to {{ end }}
            {% endif %}
          </small>
        </h4>
      </div>
      <table id="events" class="panel-body table table-bordered table-condensed table-hover">
        <thead>
          <tr class="names">
            <td>ip / time ({{ timezone }})</td>
            <td>duration</td>
            <td>project</td>
            <td>script</td>
            <td>version</td>
            <td>platform</td>
            {% if show_tests %}
              <td>test</td>
            {% endif %}
          </tr>
        </thead>
        {% for run in runs %}
          <tbody class="entry {% cycle 'unshaded' 'shaded' %}">
            <tr class="values">
              <td rowspan=0>
                <p>
                  <a href="{% url 'traffic:view_ip' run.ip %}">{{ run.ip }}</a>
                </p>
                <p>
                  {% if run.start_time %}
                    {{ run.start_time | date:"M j Y, g:i:s A" }}
                  {% else %}
                    <strong class="warning">NO START</strong>
                  {% endif %}
                </p>
              </td>
              <td>
                {% if run.finished %}
                  {% if run.duration %}
                    {{ run.duration }}
                  {% else %}
                    <strong class="warning">???</strong>
                  {% endif %}
                {% elif run.failed %}
                  <strong class="warning">FAILED</strong> after {{ run.duration }}
                {% elif run.awol %}
                  <strong class="warning">AWOL</strong> for {{ run.duration }}
                {% elif run.duration %}
                  Running for {{ run.duration }}
                {% else %}
                  <strong class="warning">???</strong>
                {% endif %}
              </td>
              <td>{{ run.project }}</td>
              <td>{{ run.script }}</td>
              <td>{{ run.version }}</td>
              <td>{{ run.platform }}</td>
              {% if show_tests %}
                <td>
                  {% if run.test %}
                    TEST
                  {% endif %}
                </td>
              {% endif %}
            </tr>
            {% if run.data %}
              <tr>
                <td colspan="{% if show_tests %}6{% else %}5{% endif %}">
                  <code>{{ run.data }}</code>
                </td>
              </tr>
            {% endif %}
            {% if run.exception %}
              <tr>
                <td colspan="{% if show_tests %}6{% else %}5{% endif %}">
                  <pre class="traceback">{% for event in run.exception.traceback %}
File "{{ event.file }}", line {{ event.line }}, in {{ event.function }}
  {{ event.code }}{% endfor %}
{{ run.exception.type }}</pre>
                </td>
              </tr>
            {% endif %}
          </tbody>
        {% endfor %}
      </table>
    </section>

    <div class="buttons">
      {% if prev %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}?p={{ prev }}">&lt; Earlier</a>
      {% endif %}
      {% if show_tests %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}">Hide tests</a>
      {% else %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}?show=tests">Show tests</a>
      {% endif %}
      {% if next %}
        <a class="btn btn-default" href="{% url 'ET:runs' %}?p={{ next }}">Later &gt;</a>
      {% endif %}
    </div>

  </div>
{% endblock content %}
